<script>
  export default {
    props: {
      source: String,
      categorias: app.categorias,
      articulos: app.articulos,
      mensaje: app.mensaje
    },
    data: () => ({
      titulo: '',
      descripcion: '',
      precio: 0,
      existencias: 0,
      categoria_id: 1,
      imagen: '',
      dialog: false,
      drawer: null,
      menus: [
        { imagen: 'mdi-contacts', titulo: 'Identificarse' },
        { imagen: 'mdi-flip-to-front', titulo: 'Ordenar articulos' },
        { imagen: 'mdi-cart-arrow-down', titulo: 'Ver carrito' },
        {
          imagen: 'mdi-chevron-up',
          'icon-alt': 'mdi-chevron-down',
          titulo: 'Categorias',
          model: true,
          children: [
            { imagen: 'mdi-help-circle', titulo: 'Ayuda' },
          { imagen: 'mdi-help-circle', titulo: 'Ayuda' }],
        },
        { imagen: 'mdi-help-circle', titulo: 'Ayuda' },
        { imagen: 'mdi-cellphone-link', titulo: 'Contactanos' },
      ]
    }),
    methods:{
      agregarArticulo: function () {
            this.$inertia.post('/proyecto_base/public/admin/main/agregar',
             {
               "titulo": this.titulo,
               "descripcion": this.descripcion,
               "precio": this.precio,
               "existencias": this.existencias,
               "categoria_id": this.categoria_id,
               "imagen": 'http://localhost/proyecto_base/public/img/'+this.imagen,
             });
             dialog = false;
        }
    }
  }
</script>
<template>
  <v-app id="tienda">


    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list dense>
        <template v-for="(item, i) in menus">

          <v-row
            v-if="false"
          >
          </v-row>


          <v-list-group
            v-else-if="item.children"
            :key="item.titulo"
            v-model="item.model"
            :prepend-icon="item.model ? item.imagen : item['icon-alt']"
            append-icon=""
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.titulo }}
                </v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item v-bind:categorias="categorias"
              v-for="(child, i) in categorias"
              :key="i"
              link
            >
              <v-list-item-action>
                <v-icon>{{ child.imagen }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.titulo }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item
            v-else
            :key="item.titulo"
            link
          >
            <v-list-item-action>
              <v-icon>{{ item.imagen }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.titulo }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>



    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="blue darken-3"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down">Miselanea caro</span>

      </v-toolbar-title>
      <v-text-field
        text
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Buscar articulo"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>
      <v-btn
        icon
        large
      >
        <v-avatar
          size="32px"
          item
        >
          <v-img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          ></v-img></v-avatar>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >

<!---Grid de articulos inicio-->
        <template>
          <v-layout>
            <v-flex>
                <v-container v-bind:articulos="articulos" fluid>
                  <v-layout>
                    <v-flex
                      v-for="a in articulos"
                      :key="a.titulo"
                       xs12 sm6
                    >
                    <v-layout row wrap>
              <v-flex xs4 sm10>
                <v-card>
                  <v-img
                    class="white--text"
                    height="300px"
                    :src="a.imagen"
                  >
                  </v-img>
                  <v-card-title>
                    <div>
                      <span class="grey--text">${{a.precio}}</span><br>
                      <span>{{a.titulo}}</span><br>
                      <span>{{a.descripcion}}</span>
                    </div>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn text color="green">Ver</v-btn>
                    <v-btn text color="orange">Comprar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
                    </v-flex>
                  </v-layout>
                </v-container>
            </v-flex>
          </v-layout>
        </template>
<!---Grid de articulos fin-->


        </v-row>
      </v-container>
    </v-content>
    <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      @click="dialog = !dialog"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      width="800px"
    >
      <v-card>
        <v-card-title class="grey darken-2">
          Añadir articulo
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col
              class="align-center justify-space-between"
              cols="12"
            >
              <v-row
                align="center"
                class="mr-0"
              >
                <v-avatar
                  size="40px"
                  class="mx-3"
                >
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt=""
                  >
                </v-avatar>
                <v-text-field
                v-model="titulo"
                  placeholder="Titulo"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-text-field
              v-model="descripcion"
                prepend-icon="mdi-account-card-details-outline"
                placeholder="Descripcion"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
              v-model="precio"
                placeholder="Precio"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
              v-model="existencias"
                prepend-icon="mdi-mail"
                placeholder="Existencias"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-select
              v-model="categoria_id"
                prepend-icon="mdi-cash"
                placeholder="Categoria"
                v-bind:categorias="categorias"
              >
              <option
              v-for="c in categorias" v-bind:value="c.id">
                {{ c.titulo }}
              </option>
            </v-select>
            </v-col>
            <v-col cols="12">
              <v-text-field
              v-model="imagen"
                prepend-icon="mdi-text"
                placeholder="Imagen"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="dialog = false"
          >Cancelar</v-btn>
          <v-btn
            text
            @click="agregarArticulo()"
          >Agregar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>
